torch==2.3.1
torchvision==0.18.1
pandas
numpy
psutil
GPUtil
tqdm
matplotlib
seaborn
transformers
diffusers
huggingface-hub
accelerate
safetensors
Pillow
open-clip-torch
sentencepiece
protobuf
scipy
opencv-python-headless
