fastapi
uvicorn[standard]
pydantic
https://github.com/huggingface/diffusers/archive/refs/heads/main.zip
transformers>=4.44.0
accelerate
bitsandbytes
safetensors
sentencepiece
Pillow
python-multipart
protobuf
hf-transfer
sqlalchemy
psycopg2-binary
torch>=2.0.0
requests
open-clip-torch
